<style>
	.mdl-mini-footer {background-color: #607D8B}
</style>

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Financial Wellness Calculator</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://github.com/codeforamerica/abq-financial-wellness-wizard">GitHub</a></li>
      <li><a href="http://www.codeforamerica.org/">Code for America</a></li>
      <li><a href="https://www.cabq.gov/">City of Albuquerque</a></li>
    </ul>
  </div>
</footer>