<header class="site-header">

  <div class="row">
        <div class="eight columns title">
          <h1>Financial Needs Calculator</h1>
        </div>
        <div class="four columns menu">
          <ul>
            <li><a href="{{ "/about.html" | prepend: site.baseurl }}">What is it?</a> |</li>
            <li><a href="{{ "/index.html" | prepend: site.baseurl }}">Take the test</a> |</li>
            <li><a href="{{ "/manage.html" | prepend: site.baseurl }}">See Data</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <p>This a demo of what the ABQ Code for America fellows are considering to help people understand their financial situation.</p>
        </div>
			</div>

</header>
