    <section id="introLightbox" class="container hidden-2">

      <div class="row">
        <h3><i>Hi There!<br />Welcome to your new Financial Wellness Calculator.</i></h3>

        <p>We want to help you and your employer understand how to best support your overall financial health. We're going to ask you some quick questions about your personal finances.
        Your responses will help us identify financial services in Albuquerque that can help you. Remember that only the cumulative information of this survey will be shared with your employer— your submission is completely anonymous.</p>

		<button class="featherlight-close mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--raised">Get Started</button>

      </div>
      
    </section>