<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div id='container'>
      <h1 id="title">Financial Wellness Report</h1>

      {{ content }}

      <section id="overview">
        <h2>Overview</h2>
      </section>

      <section id="present-security">
        <h2>Present Security</h2>
      </section>

      <section id="future-security">
        <h2>Future Security</h2>
      </section>

      <section id="present-freedom">
        <h2>Present Freedom</h2>
      </section>

      <section id="future-freedom">
        <h2>Future Freedom</h2>
      </section>

      <section id="open-forum">
        <h2>Open Forum</h2>
        <div id="open-forum-inner"></div>
      </section>
   </div>

    {% include footer.html %}
    <script src='{{ "/slick/slick.min.js" | prepend: site.baseurl }}' type="text/javascript"></script>
    <link rel="stylesheet" href="{{ "/slick/slick.css" | prepend: site.baseurl }}" >
    <link rel="stylesheet" href="{{ "/slick/slick-theme.css" | prepend: site.baseurl }}" >
    <script src='{{ "/js/tabletop.js" | prepend: site.baseurl }}' type="text/javascript"></script>
    <script src='{{ "/js/sheetsee.js" | prepend: site.baseurl }}' type="text/javascript"></script>
    <script src='{{ "/slick/slick.min.js" | prepend: site.baseurl }}' type="text/javascript"></script>
    <link rel="stylesheet" href="{{ "/slick/slick.css" | prepend: site.baseurl }}" >
    <link rel="stylesheet" href="{{ "/slick/slick-theme.css" | prepend: site.baseurl }}" >
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script>
    <script src='{{ "/js/manage.js" | prepend: site.baseurl }}' type="text/javascript"></script>
    <script src='{{ "/js/manage-business.js" | prepend: site.baseurl }}' type="text/javascript"></script>

  </body>

</html>
