---
layout: manage
---
<a href="../">
  <button class="button reset-btn  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--raised">Compare accumulative data</button>
</a>

<button class="button reset-btn  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" disabled>Recommendations (n/a)</button>

<button class="button reset-btn  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" disabled>Resources (n/a)</button>

{{ content }}
