---
layout: manage
---
<a href="../">
  <button class="button reset-btn  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--raised">Compare accumulative data</button>
</a>

<button class="button reset-btn  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" disabled>Recommendations (n/a)</button>

<button class="button reset-btn  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" disabled>Resources (n/a)</button>

{{ content }}
<section>
	<h2>Written Responses:</h2>
	
	<div class="written-response">
	  <div>
		  <p><span>"</span>I am a graduate student. I currently have a part-time job with flexible hours. My student loans help with tuition, but sometimes I feel like I am not working enough to comfortably live or pay random bills that arise (i.e. parking tickets).</p>
	  </div>
	  <div>
		  <p><span>"</span>Managing my finances is not so much about lacking the skill or information to do so, as it is about lacking sufficient monetary resources.</p>
	  </div>
	  <div>
		  <p><span>"</span>I'm a caregiver and don't always want to share that with my employer because I don't think my boss would be sympathetic. If he thinks I'm having financial problems he might want me to work more but I can't do that right now.</p>
	  </div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
	  $('.written-response').slick({
		dots: true,
        infinite: true,
        speed: 500
	  });
	});
</script>