<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div id='container'>
      <h1 id="title">Financial Wellness Report</h1>

      {{ content }}

      <section id="overview">
        <h2>Overview</h2>
      </section>

      <section id="present-security">
        <h2>Present Security</h2>
      </section>

      <section id="future-security">
        <h2>Future Security</h2>
      </section>

      <section id="present-freedom">
        <h2>Present Freedom</h2>
      </section>

      <section id="future-freedom">
        <h2>Future Freedom</h2>
      </section>
   </div>
	

    {% include footer.html %}

    <script src='{{ "/js/tabletop.js" | prepend: site.baseurl }}' type="text/javascript"></script>
    <script src='{{ "/js/sheetsee.js" | prepend: site.baseurl }}' type="text/javascript"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script>
    <script src='{{ "/js/manage.js" | prepend: site.baseurl }}' type="text/javascript"></script>
    <script src='{{ "/js/manage-" | prepend: site.baseurl | append: page.id | append: ".js" }}' type="text/javascript"></script>

  </body>

</html>
